<!DOCTYPE html>
<html>
<head>
<%- include('../common/_head', {root:'../'}); %>
<title>愛知工業大学 システム工学研究会-About-</title>
<link rel="stylesheet" href="../css/about.css">
</head>
<body class="mdl-color--grey-100 mdl-color-text--grey-700 mdl-base">
  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <%- include('../common/_header', {root:'../'}); %>
    <%- include('../common/_drawer', {root:'../'}); %>
    <main class="mdl-layout__content">

    <div class="mdl-grid about-max-width">

      <div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--4dp">
        <div class="mdl-card__title">
          <h2 class="mdl-card__title-text">About</h2>
        </div>
        <div class="mdl-card__media">
          <img class="about-image" src="../images/about/about.jpg"
            border="0" alt="">
        </div>

        <div class="mdl-grid portfolio-copy">
          <h3 class="mdl-cell mdl-cell--12-col mdl-typography--headline">ようこそ</h3>
          <div
            class="mdl-cell mdl-cell--12-col mdl-card__supporting-text no-padding ">
            <p>愛知工業大学公認サークル システム工学研究会のWebサイトにようこそ。<br>
            当サークルは40年以上の歴史を誇るサークルで、英名は"SystemEngineeringTeam"と言います。<br>
            愛称では「シス研」とか「S.E.T.（セット）]とか呼ばれている様です。
            まったくの未経験者から、プロみたいな人まで、色々な部員が在籍しています。
            もちろん、愛知工業大学に限らず、他大学からの参加も大歓迎です。
            活動はパソコンばかりではなく、夜な夜なたこ焼きパーティーや遊園地などへ行ったりも。
            なぜなら、私たちの「目的」が最後の学生生活を楽しみ尽くすという事だからです。
            バーベキューに大学祭など、文化系か運動系かの分類は微妙かもしれません。
            実際、半数近くが運動部だった人たちです。
            </p>
          </div>
          
          <%- include('./_active.ejs'); %>
          
          
        </div>
      </div>

    </div>

    <%- include('../common/_footer', {root:'../'}); %>
    </main>
  </div>

</body>
</html>