<!DOCTYPE html>
<html>
<head>
<%- include('./common/_head', {root:'./'}); %>
<meta name="description" content="愛知工業大学公認サークル システム工学研究会のオフィシャルサイトです。">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/css/swiper.min.css">
<link rel="stylesheet" href="./css/index.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/js/swiper.min.js"></script>
<script src="js/swiper.js"></script>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script src="js/BlogFeed.js"></script>
<title>愛知工業大学 システム工学研究会</title>
</head>
<body>
  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header mdl-layout--no-desktop-drawer-button">
    <%- include('./common/_header', {root:'./'}); %>
    <%- include('./common/_drawer', {root:'./'}); %>
    <main class="mdl-layout__content"> 
    
    <!-- Swiper -->
    <%- include('./index/_swiper'); %>

    <div class="section-container blog-section">
      <div class="section-title blog-section-title">ブログ</div>
      <div id="blog-section-feed" class="mdl-grid">
        <%- include('./index/_blogFeed'); %>
      </div>
    </div>
    
    <div class="section-container calendar-section">
      <div class="section-title calendar-section-title">予定一覧</div>
      <%- include('./index/_calendar'); %>
    </div>
    
    <%- include('./common/_footer', {root:'./'}); %>
    </main>
  </div>

</body>
</html>